{% extends "layouts/base.html" %}

{% set project = "Sreeja" %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
    <div class="w3-container w3-sand">
        <h2 style="text-align:center;margin: 45px;">A Little About Me</h2>
        <p style="text-align:center;margin: 45px;">Hi! I'm Sreeja and I am a junior! I am 16 years old and I've lived
            in San Diego my whole life with my parents and older brother. I have a dog named Bandit who is 3 and I love
            to relax with him after a long day. When I'm not hanging out with my friends, I'm taking pictures, playing
            volleyball, painting, or reading. These are some pictures of me! </p>

    </div>

    <div style="text-align: center;">
        <img src="/static/assets/Sreeja1.jpg" height="500" width="400"/>
        <img src="/static/assets/Sreeja3.gif" height="500" width="400"/>
        <img src="/static/assets/Sreeja2.jpg" height="500" width="400"/>
    </div>

    {% endblock %}

{% block background %}
{% endblock %}