<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Home" %}
{% set overview = "https://nighthawkcodingsociety.com/projectsearch/details/Flask%20Portfolio%20Starter" %}
{% set repo = "https://github.com/nighthawkcoders/flask_portfolio/" %}

<!- commit got rejected here, but I changed greet function below to fit song application, with new image ->
{% block body %}
    <div class="w3-container">
        <h1 class="w3-center w3-animate-right"> !</h1>
    </div>
    <!- Try building a new body here ->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

        <div class="col-12">
            <p>Your Favorite Song is, {{fname}}</p>
        </div>

        <div class="col-12">
            <form action="/favoriteSong" id="favoriteSong" method="POST" >
                <label for="fname">What's your favorite song? </label>
                <input name="fname" id="fname">
                <input type="submit" value="Click to enter your favorite Song">
            </form>
        </div>

        <div class="col-12">
            <img src="/static/assets/favsongs.png" alt="Python Flask" style="height: 400px" >
        </div>

    </div>
    <script>
        function play1() {
            var audio = document.getElementById("audio");
            audio.play();
        }

        function play2() {
            var audio = document.getElementById("audi");
            audio.play();
        }

        function play3() {
            var audio = document.getElementById("aud");
            audio.play();
        }

        function play4() {
            var audio = document.getElementById("au");
            audio.play();
        }

    </script>
    <div>
    <img src="/static/assets/10.png" id="img1" onclick="play1()" height="360" width="640">
    <audio id="audio" src="/static/audio/new-edition-can-you-stand-the-rain-official-music-video-1_9ZGY4ByN.mp3" typeof="mpeg"></audio>
    </div>

    <div>
    <img src="/static/assets/11.png" id="img2" onclick="play2()" height="360" width="640">
    <audio id="audi" src="/static/audio/bcbc-be-together-official-track_dJJVzKV7.mp3" typeof="mpeg"></audio>
    </div>

    <div>
    <img src="/static/assets/13.png" id="img3" onclick="play3()" height="360" width="640">
    <audio id="aud" src="/static/audio/mia-bad-girls-official-video_5XGpOD7x.mp3" typeof="mpeg"></audio>
    </div>

    <div>
    <img src="/static/assets/12.png" id="img4" onclick="play4()" height="360" width="640">
        <audio id="au" src="/static/audio/epilogue-nothing-bout-me_FN3pXBZ7.mp3" typeof="mpeg"></audio>
    </div>

    </div>

    <style>
        body{
            text-align: center;

        }


    </style>
{% endblock %}
{% block background %}
{% endblock %}


</div>