{% extends "layouts/base.html" %}

{% set project = "Twitter" %}

{% block body %}
<head>

    <head>
        <meta charset="UTF-8">
        <title>Twitter</title>
        <style>
            body {
                background: #bc8f8f;
            }

            .sneaky {
                width: 20%;
                top: 50%;
                position: relative;
                left: 40%;
                border-bottom: 5px #000000;
                overflow: hidden;
                animation: animate 5s linear forwards;
            }


            .sneaky h1 {
                color: #000000;
            }
        </style>
    </head>

</head>
<body>

</body>
{% endblock %}

</html>
