<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
   <style>
   h5 {
       color: rosybrown;
       text-align: center;

   }
   </style>
    <div class="container">
        <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
            <div class="col-12" style="text-align: center;">
                <h2><strong>Random Song</strong></h2>
                <form action={{url_for('starter.song')}}>
                    <button> Random Pick!</button>
                </form>
                <form action={{url_for('starter.oldisgold')}}>
                    <button> Old is Gold! </button>
                </form>
                    <form action={{url_for('starter.song')}}>
                        <button> Country tunes </button>
                    </form>
                <form action={{url_for('starter.song')}}>
                    <button> Rap </button>
                </form>
            </div>

            <!-- Input and Content -->
            <div class="jumbotron text-left row">
                <div class="col-md">
                    <h5 class="setup"><strong >{{song.song}}</strong></h5>
                </div>
            </div>

        </div>


        <table style="margin: 2%">
            <tr>
                <th>JSON Data</th>
            </tr>
            <tr>
                <td>{{song}}</td>
            </tr>
        </table>

    </div>
{% endblock %}